= turbo_stream.prepend "template_tasks", partial: "template_tasks/template_task", locals: { resourse: @resourse }
= turbo_stream.update "new_template_task", ""
= turbo_stream.prepend "flash", partial: "layouts/flash"
